body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.container {
	position: relative;
	width: 1000px;
	margin: 150px auto 0;
	height: auto;
}

.container h1 {
	text-align: center;
	font-weight: bold;
	background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.user-card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 440px;
	grid-gap: 40px;
}

.user-card .card {
	position: relative;
	background: #000;
	overflow: hidden;
	border-radius: 10px;
	transition: all 0.5s
}

.user-card .card:hover .img-box {
	opacity: 0.5;
}

.user-card .card .img-box {
	transition: all 0.5s;
}

.user-card .card .img-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.user-card .card .content {
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: -100%;
	padding: 20px;
	padding-top: 60px;
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s;
}

.user-card .card:hover {
	cursor: pointer;
}

.user-card .card:hover .content {
	bottom: 0;
}

.user-card .card:nth-child(1) .content {
	background: linear-gradient(0deg, #c21833, transparent);
}

.user-card .card:nth-child(2) .content {
	background: linear-gradient(0deg, #8012a5, transparent);
}

.user-card .card:nth-child(3) .content {
	background: linear-gradient(0deg, #BD18CF, transparent);
}

.user-card .card .content h2 {
	display: block;
	margin: 0 0 10px;
	padding: 0;
	color: #fff;
	font-size: 20px;
}

.user-card .card .content h2 span {
	color: #ffeb3b;
	font-size: 16px;
}

.user-card .card .content ul {
	margin: 20px 0 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-card .card .content ul li {
	list-style: none;
}

.user-card .card .content ul li a {
	color: #fff;
	padding: 0 10px;
	font-size: 18px;
}

/*******Movie Card*******/

.movie-card {
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: "PT Sans", sans-serif;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.movie-card__item {
	position: relative;
	width: 300px;
	height: 450px;
	background: #000;
	/*margin: 0 auto;*/
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.movie-card .poster {
	position: relative;
	overflow: hidden;
		
}

.movie-card__item .poster:before {
	content: '';
	position: absolute;
	bottom: -182px;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #000 50%, transparent);
	transition: 0.5s;
	z-index: 1;
}

.movie-card__item:hover .poster:before {
	bottom: 0;
}
.movie-card .poster img {
	width: 100%;
	transition: 0.3s;
}

.movie-card__item:hover .poster img {
	filter: blur(5px);
	cursor: pointer;
	transform: translateY(-50px);
}

.movie-card__item .details {
	position: absolute;
	padding: 20px;
	width: 100%;
	height: 73%;
	bottom: -182px;
	left: 0;
	box-sizing: border-box;
	transition: 0.5s;
	z-index: 2;
}

.movie-card__item:hover .details {
	bottom: 0;
	cursor: pointer;
}

.movie-card__item .details h2 {
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.movie-card__item .details h2 span {
	font-size: 14px;
	color: #ff9800
}

.movie-card__item .details .rating {
	position: relative;
	padding: 5px 0;
}

.movie-card__item .details .rating .fa {
	color: #f7f406;
	font-size: 16px;
	margin-right: 2px;
}

.movie-card__item .details .rating span {
	color: #fff;
	padding: 0 5px;
}

.movie-card__item .details .tags {
	position: relative;
	margin-top: 5px;
}

.movie-card__item .details .tags span {
	padding: 2px 5px;
	margin-right: 2px;
	color: #fff;
	border-radius: 4px;
}

.movie-card__item .details .tags span.fantasy {
	background: #7206f7;
}

.movie-card__item .details .tags span.romance {
	background: #f70661;
}

.movie-card__item .details .info {
	margin: 15px 0 10px;
}

.movie-card__item .details .info p {
	color: #fff;
}

.movie-card__item .details .star {
	position: relative;
}

.movie-card__item .details .star h4 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #f7f406;
}

.movie-card__item .details .star ul {
	margin: 10px 0 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.movie-card__item .details .star ul li {
	list-style: none;
	width: 35px;
	height: 35px;
	background: #fff;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 6px;
	border: solid 2px #fff; 
}

.movie-card__item .details .star ul li img {
	width: 100%;
}